In [4]:
#import nltk; nltk.download('stopwords')

import re
import numpy as np
import pandas as pd
from pprint import pprint

# Gensim
import gensim
import gensim.corpora as corpora
from gensim.utils import simple_preprocess
from gensim.models import CoherenceModel

# spacy for lemmatization
import spacy

# Plotting tools
import pyLDAvis
import pyLDAvis.gensim  # don't skip this
import matplotlib.pyplot as plt
%matplotlib inline

# Enable logging for gensim - optional
import logging
logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.ERROR)

import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)

# NLTK Stop words
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
# stop_words.extend(['from', 'subject', 're', 'edu', 'use'])

In [8]:
df = pd.read_csv('/Users/samanthawise/Documents/BRISTOL/MASTERS/data_science_toolbox/Workshops/data/losalamosdata.csv', error_bad_lines = False)
#print(df.target_names.unique())
df.head()

,Unnamed: 0,source_computer,destination_computer,time,source_user@domain,destination_user@domain,auth_type,longon_type,auth_orien,success/fail
0,1,C2815,C625,3721,C2815$@DOM1,C2815$@DOM1,Kerberos,Network,LogOn,Success
1,2,C14046,C754,33492,ANONYMOUS LOGON@C754,ANONYMOUS LOGON@C754,NTLM,Network,LogOn,Success
2,3,C18769,C754,816792,C18769$@DOM1,C18769$@DOM1,NTLM,Network,LogOn,Success
3,4,C5808,C18781,1770007,ANONYMOUS LOGON@C18781,ANONYMOUS LOGON@C18781,NTLM,Network,LogOn,Success
4,5,C13050,C13050,30731,C13050$@DOM1,C13050$@DOM1,?,?,TGT,Success

In [79]:
# just considering the users in source_user@domain

users_df = df[df['source_user@domain'].str.contains("U")]
users_df = users_df[-users_df['source_user@domain'].str.contains("ANONYMOUS")]
users_df = users_df[['time', 'destination_computer', 'source_user@domain']]
users_df['source_user@domain'] = users_df['source_user@domain'].str.split('@').str.get(0)

In [90]:
users_df['source_user@domain'].value_counts()
# top three users are U6836, U1653, U7998

U6836     6750
U1653     2849
U7998      815
U1723      483
U66        436
U4281      392
U3771      301
U463       259
U748       252
U293       250
U254       244
U636       234
U525       232
U737       219
U5002      203
U1430      201
U726       201
U1592      199
U1718      198
U307       196
U8849      195
U1916      189
U8601      187
U1522      184
U194       183
U162       183
U667       179
U1506      174
U12043     173
U3635      167
          ...
U10987       1
U7302        1
U5759        1
U11492       1
U7323        1
U5797        1
U6963        1
U10704       1
U6644        1
U11707       1
U12422       1
U8371        1
U8471        1
U83          1
U12402       1
U11373       1
U8021        1
U6849        1
U11885       1
U7999        1
U137         1
U10477       1
U454         1
U11775       1
U7247        1
U6254        1
U1079        1
U7138        1
U1756        1
U9491        1
Name: source_user@domain, Length: 10001, dtype: int64

In [95]:
# subsetting the data frame to those three users

vals = ['U6836', 'U1653', 'U7998']

users_df1 = users_df.loc[(users_df['source_user@domain'] == 'U6836') | 
                         (users_df['source_user@domain'] == 'U1653') | 
                         (users_df['source_user@domain'] == 'U7998')]

users_df1

           time destination_computer source_user@domain
128     1250211                C7521              U6836
134     1253803                C2704              U6836
165     3056451                C5666              U1653
185     1253503               C12162              U6836
222     1252208               C12129              U6836
249     1252230                C7170              U6836
274     1250965               C11246              U6836
384     1254216                C3430              U6836
441     2901918                C5666              U1653
467     3110403                C5666              U1653
478     1254352                 C129              U6836
582     1253790               C10686              U6836
627     1251522                C1362              U6836
662     1250147                C2341              U6836
664     3054865                C5666              U1653
713      180001                 C706              U7998
758      227073               C17948              U7998
780     1249287               C11523              U6836
946     1254485                C3017              U6836
998     3082659                C5666              U1653
1013    1250976                C6859              U6836
1018     687200                 C754              U1653
1022    1249561               C21276              U6836
1027    3058128                C5666              U1653
1075    1254289               C15324              U6836
1123     141274                C2784              U7998
1126    1249006                C7168              U6836
1146     141020               C17597              U7998
1262    1248937                C3035              U6836
1275    1248674               C14064              U6836
...         ...                  ...                ...
418724  1248702                C5618              U6836
418729  2902069                C5666              U1653
418832  1250991               C16251              U6836
418864  1248342                C8930              U6836
418906  1252445                C1745              U6836
418948  1250396               C10909              U6836
418964  1254691                C8847              U6836
418990  1251550                C2685              U6836
418998  1251691                C5806              U6836
419003  2977981                C5666              U1653
419091  2994776                C5666              U1653
419126  1250005               C12133              U6836
419132  3577338                C5666              U1653
419172  1248943                C4392              U6836
419216  1254209                C2359              U6836
419220  1250398                C4474              U6836
419221  1253733               C23009              U6836
419228  1248667                C2043              U6836
419275  1249006                C5921              U6836
419337  1249617               C12590              U6836
419408  1248683               C20375              U6836
419420  1252984               C14059              U6836
419433  1271509               C15795              U6836
419504  1252183               C10990              U6836
419543  1247536                C1086              U6836
419550   659070               C21678              U7998
419568  2900686                C5666              U1653
419571  1251121                 C619              U6836
419575  1250796               C20896              U6836
419587  1254195                C3075              U6836

[10414 rows x 3 columns]

In [81]:
# Create a corpus, each element represents one day of connections 

sec_day = 86400
corpus = []
for i in range(57):
    day = (users_df["time"] <= sec_day*(i+1)) & (users_df["time"] > sec_day*i)
    list = users_df[day]
    corpus.append(list)

In [82]:
id2word = corpora.Dictionary(users_df_list)

texts = users_df['destination_computer']

corpus1 = [id2word.doc2bow(text.split()) for text in texts]

In [85]:
print(corpus1[:1])

[[(0, 1)]]

In [75]:
# Human readable format of corpus (term-frequency)
[[(id2word[id], freq) for id, freq in cp] for cp in corpus1[:1]]

[[('C2805', 1)]]

In [ ]:
# Build LDA model

lda_model = gensim.models.ldamodel.LdaModel(corpus=corpus1,
                                           id2word=id2word,
                                           num_topics=20, 
                                           random_state=100,
                                           update_every=1,
                                           chunksize=100,
                                           passes=10,
                                           alpha='auto',
                                           per_word_topics=True)

In [ ]:
# Print the Keyword in the 10 topics
pprint(lda_model.print_topics())
doc_lda = lda_model[corpus1]